// Select deep-nested paragraph by indentation (bad preactice to go too deep!)
/*.wrapper {
    .main {
        .container {
            .article {
                .post {
                    p {
                        color: blue;
                    }
                }
            }
        }
    }
}*/


// Style class "main" by using parent class "wrapper"
.main {
    .wrapper & {
        width: 300px;
        height: 300px;
        background-color: yellow;
    }
}

// Nested properties
p {
    font: {
        family: open-sans;
        size: 30px;
        weight: 500;
    }
    
    text: {
        align: center;
        transform: uppercase;
    }
}

/*.container {
    background: {
        image: url("https://dummyimage.com/450x250/f00/fff");
        size: cover;
        position: center center;
        repeat: no-repeat;
    }
}*/

//Placeholders can be used for code that is intended for reuse
%backgroundImage {
    background: {
        image: url("https://dummyimage.com/450x250/f00/fff");
        size: cover;
        position: center center;
        repeat: no-repeat;
    }
}

.div {
    @extend %backgroundImage;
}


// Each class inherits all the properties of %backgroundImage aside from the actual image,
// since div extends the placeholder
.container {
    background-image: url("https://dummyimage.com/450x250/f00/fff");
}

.article {
    background-image: url("https://dummyimage.com/450x250/000/fff");
}

.post {
    background-image: url("https://dummyimage.com/450x250/ddd/fff");
}